@import "../variables/variables";

/* BODY */

body {
    background-color: $turquoise;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    padding-left: 20px;
    padding-top: 20px;
}

/* FIRST PAGE */

h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

/* BUTTONS */

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 45px;
    text-align: center;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform:capitalize;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    border-radius: 40px;
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px rgba(208, 208, 208, 0.8);
}


/* GAME PAGE */

.hidden{
    display: none;
}

.question-container{
    background-color: $lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next-question-btn{
    width: 100px;
    height: 45px;
}

.alternative-btn{
    background-color: white;
    
}
.chosen{
    border: solid black 5px;
    background-color: lightgrey; 
}
.notChosen{
    background-color: white;
}


.correct{
    background-color: green;
}
.wrong{
    background-color: red;
}


/* LAST PAGE */